

body{
font-family: "Poppins", sans-serif;
background-color:#ffe6f0;
}

.pink-bar{
background-color:#ff66b2;
color:white;
}

.section-title{
color:#cc0066;
}

header{
padding-top:100px;
padding-bottom:40px;
text-align:center;
}

h1{
font-weight:600;
color:#cc0066;
}

body {
  margin-top: 50px;
  background-color: #ffd6eb; /* light pink */
  font-family: 'Poppins', sans-serif;
}

.custom-nav {
  background-color: #ff4da6; /* darker pink */
}

.custom-nav .w3-button {
  color: white;
  font-weight: 500;
}

.custom-nav .w3-button:hover {
  background-color: #e60073; /* even darker on hover */
}

.w3-dropdown-content {
  background-color: #ffe6f2;
}


