
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
   


body{
font-family: "Poppins", sans-serif;
background-color:"red";
}

.pink-bar{
background-color:#ff66b2;
color:white;
}

.section-title{
color:#cc0066;
}

header{
padding-top:100px;
padding-bottom:40px;
text-align:center;
}

h1{
font-weight:600;
color:#cc0066;
}

Created on : Mar 18, 2026, 2:51:58 PM
    Author     : lgulbe24


